.medium{
  font-family: "GraphikLCG-Medium", sans-serif;
}

.regular{
  font-family: "GraphikLCG-Regular", sans-serif;
}

.semiBold{
  font-family: "GraphikLCG-Semibold", sans-serif;
}

.red{
  color: $bg;
}

.title-1{
  @extend h1;
}

.title-2{
  @extend h2;
}

.title-3{
  @extend h3;
}

.title-4{
  @extend h4;
}

.title-5{
  @extend h5;
}

.title-6{
  @extend h6;
}