@font-face {
  font-family: "GraphikLCG-Medium";
  src: url("../fonts/GraphikLCG-Medium.eot");
  src: url("../fonts/GraphikLCG-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/GraphikLCG-Medium.woff") format("woff"),
  url("../fonts/GraphikLCG-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GraphikLCG-Regular";
  src: url("../fonts/GraphikLCG-Regular.eot");
  src: url("../fonts/GraphikLCG-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/GraphikLCG-Regular.woff") format("woff"),
  url("../fonts/GraphikLCG-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GraphikLCG-Semibold";
  src: url("../fonts/GraphikLCG-Semibold.eot");
  src: url("../fonts/GraphikLCG-Semibold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/GraphikLCG-Semibold.woff") format("woff"),
  url("../fonts/GraphikLCG-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}