<footer class="footer">
  <div class="footer-container">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3">
          <a href=".folder" class="footer-logo scroll-to">
            <picture>
              <img src="img/logo.svg" alt="PicPac">
            </picture>
          </a>
        </div>
        <div class="col-xl-6 col-lg-9">
          <div class="footer-nav">
            <ul class="footer-nav-item">
              <li>
                <p class="subtitle">Навигация</p>
              </li>
              <li>
                <a href="#faq" class="link scroll-to">Вопросы и ответы</a>
              </li>
              <li>
                <a href="#" class="link">О нас</a>
              </li>
              <li>
                <a href="#" class="link">Блог</a>
              </li>
            </ul>
            <ul class="footer-nav-item">
              <li>
                <p class="subtitle">Контакты</p>
              </li>
              <li>
                <a href="mailto:info@pic-pac.by" class="link">info@pic-pac.by</a>
              </li>
              <li>
                <a href="tel:8 800 400 34 56" class="link">8 800 400 34 56</a>
              </li>
            </ul>
            <ul class="footer-nav-item">
              <li>
                <p class="subtitle">Режим работы</p>
              </li>
              <li>
                <p class="footer-nav-description">Мы работаем с понедельника по пятницу с 9:00 до 18:00</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-12">
          <div class="footer-social">
            <ul class="social">
              <li>
                <a href="#" class="social-link">facebook</a>
              </li>
              <li>
                <a href="#" class="social-link">instagram</a>
              </li>
              <li>
                <a href="#" class="social-link">vk</a>
              </li>
            </ul>
            <div class="instagram-box">
              <div class="instagram-box-item">
                <picture>
                  <source srcset="img/instagram/1.webp">
                  <img src="img/instagram/1.jpg" alt="PicPac Instgram">
                </picture>
              </div>
              <div class="instagram-box-item">
                <picture>
                  <source srcset="img/instagram/2.webp">
                  <img src="img/instagram/2.jpg" alt="PicPac Instgram">
                </picture>
              </div>
              <div class="instagram-box-item">
                <picture>
                  <source srcset="img/instagram/3.webp">
                  <img src="img/instagram/3.jpg" alt="PicPac Instgram">
                </picture>
              </div>
              <div class="instagram-box-item">
                <picture>
                  <source srcset="img/instagram/4.webp">
                  <img src="img/instagram/4.jpg" alt="PicPac Instgram">
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-detail">
    <div class="paragraph">
      <p>© 2012-2020 Права защищены официальная информация, помощь Государственная регистрация за № 290320517 Брестским областным исполнительным комитетом, КФ КадрД ОДО, 225409 Республика Беларусь, Брестская область, г. Барановичи, пл. Ленина 1, УНП 290320517 ОКПО 291914610, Р/сч BY07BPSB30121239140159330000 в ОАО "БПС-Сбербанк", г. Минск BIC BPSBBY2X . Директор Малащенко Д.М. действует на основании Устава.</p>
    </div>
  </div>
  </div>
</footer>