<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-3">
        <div class="burger">
          <div class="burger-box">
            <div class="burger-box-arrow"></div>
            <div class="burger-box-arrow"></div>
            <div class="burger-box-arrow"></div>
          </div>
        </div>
        <div class="header-nav">
          <a href=".folder" class="header-nav-logo scroll-to">
            <picture>
              <img src="img/logo.svg" alt="PicPac">
            </picture>
          </a>
          <nav class="nav">
            <ul>
              <li>
                <a href="#advantages" class="scroll-to">преимущества</a>
              </li>
              <li>
                <a href="#offers" class="scroll-to">Спецпредложения</a>
              </li>
              <li>
                <a href="#reviews" class="scroll-to">Отзывы</a>
              </li>
              <li>
                <a href="#faq" class="scroll-to">Вопросы и ответы</a>
              </li>
            </ul>
          </nav>
          <div class="header-nav-social">
            <ul class="social">
              <li>
                <a href="#" class="social-link">facebook</a>
              </li>
              <li>
                <a href="#" class="social-link">instagram</a>
              </li>
              <li>
                <a href="#" class="social-link">vk</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2 d-none d-lg-block">
        <a href=".folder" class="header-logo scroll-to">
          <picture>
            <img src="img/logo.svg" alt="PicPac">
          </picture>
        </a>
      </div>
      <div class="col-lg-5 col-9">
        <div class="header-social">
          <ul class="social">
            <li>
              <a href="#" class="social-link">facebook</a>
            </li>
            <li>
              <a href="#" class="social-link">instagram</a>
            </li>
            <li>
              <a href="#" class="social-link">vk</a>
            </li>
          </ul>
          <a href="#create-book" class="btn white open-modal" rel="modal:open">Создать книгу</a>
        </div>
      </div>
    </div>
  </div>
</header>