<div id="create-book" class="modal">
  <div class="modal-content">
    <div class="modal-content-preview" style="background-image: url(img/modal.jpg);"></div>
    <div class="modal-content-description">
      <p class="title-1">Здравствуйте!</p>
      <p class="title-3">Вы один из 100 первых клиентов, кто захотел сохранить теплые эмоции на обновленном PicPac️ ☺</p>
      <div class="paragraph">
        <p>Просто оставьте емейл и, совсем скоро, получите <span class="red">фотокнигу на 5 разворотов бесплатно!</span> Мы оповестим вас коротким сообщением.</p>
      </div>
      <div class="form">
        <form>
          <div class="input-container">
            <input type="email" class="input-item" placeholder="Ваша почта" />
          </div>
          <button class="btn lg">
            <span class="btn-title">Получить книгу</span>
            <span class="btn-title-success">Отправлено!</span>
          </button>
        </form>
        <p class="form-detail">Вы оплачиваете только доставку товара, спасибо, что выбрали PicPac❤️</p>
      </div>
    </div>
  </div>
</div>