.faq{
  background-color: $white;
  padding: 175px 0 50px;
  z-index: 1;
    &-accordion{
      padding: 28px 0;
      margin: 0 -28px;
        @include d(1200){
          margin: 0 -10px;
        }
        @include d(991){
          margin: 0;
        }
        @include d(575){
          margin: 0 -15px;
          padding: 20px 0;
        }
    }
    .subtitle{
      margin-bottom: 35px;
        @include d(575){
          margin-bottom: 15px;
        }
    }
    @include d(1200){
      padding: 120px 0;
    }
    @include d(991){
      padding: 80px 0 30px;
    }
}