.footer{
  background-color: $bg;
  padding: 66px 0 0;
  overflow: hidden;
    &-logo{
      max-width: 180px;
        img, picture{
          width: 100%;
        }
        @include d(1400){
          max-width: 160px;
        }
        @include d(991){
          margin-bottom: 20px;
          max-width: 140px;
        }
        @include d(575){
          margin: 0 auto 20px;
          max-width: 138px;
        }
    }
    &-nav{
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      padding: 8px 0;
      max-width: 580px;
        &-item{
          li{
            margin-bottom: 12px;
          }
          .subtitle{
            color: $white;
            opacity: .7;
            margin-bottom: 25px;
              @include d(575){
                margin-bottom: 21px;
              }
          }
          .link{
            text-transform: none;
            font-size: 14px;
            line-height: 1.4em;
            letter-spacing: 0;
              &:before{
                bottom: 0;
              }
          }
          @include d(575){
            &:last-child{
              display: none;
            }
          }
        }
        &-description{
          color: $white;
          max-width: 122px;
          @extend .medium;
        }
        @include d(1400){
          max-width: 520px;
        }
        @include d(1300){
          max-width: 470px;
        }
        @include d(1200){
          max-width: 80%;
        }
        @include d(575){
          max-width: 93%;
          padding: 17px 0;
        }
    }
    &-social{
      margin-left: -29px;
        @include d(1300){
          margin-left: -70px;
        }
        @include d(1200){
          margin-left: 0;
        }
    }
    &-detail{
      position: relative;
      color: $white;
      font-size: 11px;
      text-align: center;
      margin-top: 40px;
      padding: 39px 30px 51px;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $white;
          opacity: .1;
        }
        .paragraph{
          //max-width: 1070px;
          margin: 0 auto;
          opacity: .5;
        }
        @include d(1400){
          padding: 35px 30px;
        }
        @include d(1200){
          margin-top: 20px;
        }
        @include d(991){
          margin-bottom: 66px;
        }
        @include d(575){
          padding: 30px 10px;
          font-size: 9px;
        }
    }
    @include d(575){
      padding: 79px 0 0;
    }
}