.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 22px 0;
  z-index: 12;
  transition: background-color .2s ease, padding .4s ease, transform .4s ease, opacity .4s ease;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: repeat;
      background-position: center top;
      background-size: 100px 100px;
      background-image: url(../img/texture-4.png);
      opacity: 0;
      transition: opacity .2s ease;
      pointer-events: none;
    }
    &-nav{
      padding: 5px 0;
        &-logo{
          display: block;
          width: 110px;
          margin: 0 auto 46px;
          opacity: 0;
          transition: opacity .4s ease;
          @include m(992){
              display: none;
            }
        }
        &-social{
          opacity: 0;
          transition: opacity .4s ease;
            .social{
              width: 100%;
              justify-content: center;
            }
            @include m(992){
              display: none;
            }
        }
        &.is-open{
          .header-nav-logo,
          .header-nav-social{
            opacity: 1;
          }
          .nav{
              li{
                opacity: 1;
              }
          }
        }
        @include d(991){
          display: none;
          position: absolute;
          bottom: -10px;
          left: 0;
          height: 464px;
          max-height: 100vh;
          width: 100vw;
          background-color: $bg;
          padding: 38px 0 60px;
          overflow-y: auto;
            .nav{
                ul{
                  flex-direction: column;
                }
                li{
                  padding: 0;
                  margin-bottom: -5px;
                  opacity: 0;
                  transition: opacity .2s ease;
                    &:last-child{
                      margin-bottom: 0;
                    }
                }
            }
        }
        @include d(575){
          bottom: -5px;
        }
        @include m(992){
          display: block !important;
        }
    }
    &-social{
      display: flex;
      justify-content: flex-end;
      align-items: center;
        .social{
          & + .btn{
            margin-left: 37px;
              @include d(1200){
                margin-left: 15px;
              }
          }
        }
        @include d(1200){
          .social{
            display: none;
          }
        }
    }
    &-logo{
      position: absolute;
      display: block;
      width: 163px;
      margin: 0 auto;
      left: 50%;
      top: 0;
      transform: translate(-50%, 91px);
      transition: transform .8s ease, width .4s ease, top .8s ease;
        img{
          width: 100%;
        }
        @include d(1200){
          display: none;
          transform: translateY(0);
        }
        @include d(767){
          width: 130px;
        }
    }
    &.is-fixed{
      background: $bg;
      padding: 15px 0;
        &:before{
          opacity: 1;
        }
        .header-logo{
          transform: translate(-50%,0);
          width: 86px;
          transition: transform .4s ease, width .4s ease, top .4s ease;
        }
        @include d(1400){
          padding: 8px 0;
        }
    }
    @include d(1200){
      background: $bg;
      padding: 10px 0;
        &:before{
          display: none;
        }
    }
    @include d(991){
      top: auto;
      bottom: 0;
    }
    @include d(575){
      padding: 5px 0;
        .btn{
          height: 38px;
          line-height: 38px;
        }
    }
}