.input{
    &-item{
      width: 100%;
      border: 1px rgba(92,92,92,.23) solid;
      border-radius: 4px;
      height: 50px;
      padding: 0 20px;
      @extend .medium;
      color: $black;
        &::-webkit-input-placeholder {
          font-family: "GraphikLCG-Regular", sans-serif;
          opacity: .6;
        }
        &::-moz-placeholder {
          font-family: "GraphikLCG-Regular", sans-serif;
          opacity: .6;
        }
        &:-ms-input-placeholder {
          font-family: "GraphikLCG-Regular", sans-serif;
          opacity: .6;
        }
        &:-moz-placeholder {
          font-family: "GraphikLCG-Regular", sans-serif;
          opacity: .6;
        }
    }
    &-container{
      position: relative;
      padding-bottom: 11px;
    }
}