.photos{
  background-color: $bg;
  //padding: 171px 0;
  padding: 0;
  min-height: 300vh;
    &-container,
    .photos-container.container{
      position: sticky;
      top: -100px;
      padding: 172px 0;
      overflow: hidden;
        @include d(991){
          top: 50px;
          padding: 30px 0 70px;
          //overflow: initial;
        }
    }
    .content-container{
      position: absolute;
      top: 172px;
      left: 50%;
      transform: translate(-50%,0);
      height: 100%;
      z-index: 3;
        .row{
          height: 100%;
        }
        @include d(991){
          position: relative;
          top: 0;
          left: 0;
          transform: translate(0,0);
        }
    }
    &-content{
      color: $white;
      max-width: 575px;
      position: sticky;
      top: 90px;
        .title-2{
          margin-bottom: 27px;
            @include d(767){
              margin-bottom: 14px;
            }
        }
        .btn{
          margin-top: 65px;
            @include d(767){
              margin-top: 44px;
            }
        }
        @include d(991){
          top: 0;
          position: relative;
        }
    }
    &-book{
      position: relative;
        &-carousel{
          .slick-list{
            overflow: initial;
          }
        }
        &-slide{
          //&:nth-child(n + 2){
          //  display: none;
          //}
        }
        .page-template{
          height: 582px;
          padding: 47px 35px;
            &-bg{
              opacity: 0;
              transition: opacity .8s ease;
                img{
                  object-fit: cover;
                }
                //@include d(991){
                //  opacity: 1;
                //}
            }
            &:after{
              opacity: 0;
            }
            @include d(1300){
              height: 540px;
              padding: 30px 25px;
            }
            @include d(1200){
              height: 45vw;
            }
            @include d(991){
              height: 44vw;
            }
            @include d(575){
              padding: 10px;
            }
        }
        .book-tooltip{
          &.__1{
            left: 8.7%;
            top: 64%;
              @include d(575){
                left: 7.7%;
                top: 59%;
              }
          }
        }
        &-carousel{
          @extend .book-container;
            &:before{
              opacity: 0;
            }
        }
        @include d(991){
          margin: 0 15px;
        }
    }
    &-mobile{
      display: none;
        //@include m(992){
        //  display: none;
        //}
    }
    &.is-show-book{
        .page-template{
          &-bg{
            opacity: 1;
          }
          &:after{
            opacity: 1;
          }
        }
        .content-container{
          pointer-events: none;
        }
        .book-tooltip{
          &.toggle{
            opacity: 1;
          }
        }
        .photos-book-carousel{
          &:before{
            opacity: 1;
          }
        }
    }
    .triangle{
      top: auto;
      bottom: -50vw;
      display: none;
        @include d(991){
          display: block;
        }
        @include d(575){
          bottom: -33vw;
        }
    }
    &.enable-animation{
      .book-tooltip{
        &:before{
          animation: bounce 2s infinite ease;
        }
      }
    }
    @include min-height-min-width(1000, 992){
      min-height: 2200px;
    }
    @include d(991){
      min-height: 1680px;
      padding: 80px 0 40px;
    }
    @include d(767){
      min-height: 1000px;
    }
}