.stock{
  position: relative;
  padding: 80px 0;
    &-photo{
      position: absolute;
      background-color: $red;
      overflow: hidden;
        img, picture{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        &:nth-child(1){
          position: relative;
          width: 408px;
          height: 507px;
          margin: 0 0 0 auto;
            @include d(767){
              width: 44vw;
              height: 55vw;
            }
        }
        &:nth-child(2){
          width: 244px;
          height: 305px;
          //top: 4.4%;
          top: 8.4%;
          left: 0;
            @include d(991){
              top: 15.4%;
            }
            @include d(767){
              width: 27vw;
              height: 37vw;
              top: 62%;
              left: 19%;
            }
        }
        &:nth-child(3){
          width: 248px;
          height: 345px;
          left: 13.5%;
          top: 61.1%;
            @include d(767){
              width: 26vw;
              height: 33vw;
              top: -1%;
              left: 8%;
            }
        }
        &:nth-child(4){
          width: 182px;
          height: 251px;
          right: 5%;
          //top: 76.8%;
          top: 94.8%;
            @include d(991){
              top: 82.8%;
            }
            @include d(767){
              width: 20vw;
              height: 28vw;
              right: 12%;
              top: 79%;
            }
        }
        &:nth-child(5){
          width: 115px;
          height: 133px;
          left: 3.4%;
          top: 57.2%;
            @include d(767){
              width: 13vw;
              height: 14vw;
              left: 11%;
              top: 58%;
            }
        }
        &:nth-child(6){
          width: 115px;
          height: 133px;
          top: 0;
          left: 52%;
            @include d(1200){
              left: 67%;
            }
            @include d(767){
              width: 13vw;
              height: 14vw;
              left: 51.5%;
              top: -6%;
            }
        }
        &:nth-child(n + 7){
          display: none;
        }
    }
    @include d(767){
      padding: 15px 24px;
    }
}