.video{
  //height: 640px;
  height: 100vh;
  //margin-bottom: 85px;
  z-index: 1;
    &-box{
      position: sticky;
      top: 0;
      //height: 100vh;
      height: 640px;
      width: 1195px;
      margin: 0 auto;
      overflow: hidden;
        &-preview{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 100%;
          height: 100%;
            img, picture{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
        }
        &-elem{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0;
          transition: opacity .4s ease;
        }
        @include max-height-min-width(640, 992){
          height: 100vh;
        }
        @include d(1300){
          width: 1050px;
        }
        @include d(1200){
          width: 800px;
        }
        @include d(991){
          width: 100%;
          height: 80vh;
          position: relative;
        }
        @include d(767){
          height: 54vw;
        }
    }
    &-btn{
      position: absolute;
      width: 89px;
      height: 89px;
      box-shadow: 0 8px 14px rgba(54,54,54,.2);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
      overflow: hidden;
      cursor: pointer;
      transition: opacity .4s ease;
        &-bg{
          position: absolute;
          width: 58px;
          height: 58px;
          border-radius: 50%;
          box-shadow: 0 8px 14px rgba(54,54,54,.2);
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          background-color: $violet;
          background-repeat: no-repeat;
          background-size: 12px;
          background-position: center;
          background-image: url(../img/icons/play.svg);
            @include d(575){
              width: 39px;
              height: 39px;
              background-size: 8px;
            }
        }
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $white;
          opacity: .2;
          border-radius: 50%;
        }
        @include d(575){
          width: 59px;
          height: 59px;
        }
    }
    &.is-active{
      .video-box-elem{
        opacity: 1;
      }
      .video-btn{
        opacity: 0;
      }
    }
    @include d(991){
      height: auto;
      margin-bottom: 0;
    }
}